@import "../styles/colors";
@import "../styles/alignment";

.app-wrapper {
  background: $background-primary-color;
  width: 100%;
  height: 100%;

  .content-container {
    @include center-horiz-margin;

    width: 100%;
    height: 100%;
    max-width: 1440px;
  }

  .page-content {
    padding-top: $header-height + 40px;
  }
}
