@import '../../../../../../styles/colors';
@import '../../../../../../styles/alignment';
@import '../../../../../../styles/interractions';
@import '../../../../../../styles/components/inputs/buttons';

@mixin control-button-base($color){
  @include button-base($color);
  max-width: 48px;
  max-height: 48px;
}

.pomodoro {
  z-index: 10;

  &__title {
    user-select: none;
    @include flex-center-align;
    justify-content: space-between;
  }

  &__timer {
    user-select: none;
  }

  &__actions {
    .accent-button {
      @include control-button-base($accent-color);
    }

    .side-button {
      @include control-button-base($passive-color);
    }
  }
}
