@import "src/styles/colors";
@import "src/styles/alignment";

.header {
  background: $background-primary-color;
  user-select: none;

  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;

  height: 100%;
  width: 100%;
  max-height: $header-height;
  border-bottom: 1px solid $separator-color;

  &__outer-container {
    .app-icon {
      max-width: 48px;
      fill: $foreground-primary-color;
    }
    .navigation-items {
      display: flex;
      justify-content: space-around;
      font-size: 32px;

      width: 100%;
      max-width: 500px;
    }
  }
}


