$background-primary-color: #1F1F1F;
$background-secondary-color: #2B2B2B;

$accent-color: #8764B8;
$passive-color: #606060;
$danger-color: #E74C3C;
$disabled-color: #A0A0A0;

$separator-color: rgba(255, 255, 255, 0.2);

$foreground-primary-color: #FFFFFF;
$foreground-secondary-color: #ECECEC;

$step: 5;

@function highlight($color, $level) {
  @return adjust-color($color, $red: $step*$level, $green: $step*$level, $blue: $step*$level);
}

@function blackout($color, $level) {
  @return adjust-color($color, $red: -$step*$level, $green: -$step*$level, $blue: -$step*$level);
}
