@import './colors.scss';

@mixin background_hover($color) {
  background: $color;

  &:hover {
    background: highlight($color, 2);
  }
}

@mixin interactive_background($color) {
  background: $color;

  &:hover {
    background: downlight($color, 4);
  }

  &:active {
    background: downlight($color, 8);
  }
}

@mixin interactive_border($color, $width){
  &:hover {
    border: $width solid $color;
  }
}
