@import '../../../../styles/colors';
@import '../../../../styles/interractions';
@import '../../../../styles/alignment';
@import '../../../../styles/fonts';

$pomodoro-width: 300px;
$pomodoro-height: 350px;

.pomodoro {
  @include background_hover($background-secondary-color);
  @include title;
  border-radius: 10px;

  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 30px 1fr 64px;

  width: $pomodoro-width;
  height: $pomodoro-height;
  resize: none;

  padding: 7px 15px;
}

.settings {
  //@include flex-center-align;
  height: 100vh;
  width: 100vw;
  top: 0;
  position: fixed;
  //opacity: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.4);
  transform: scale(1);
  //transition-delay: 2s;
  //transition: 1s all;

  &.on-display {
    //@include flex-center-align;
    z-index: 100;
    //opacity: 1;
    //transform: scale(1);
  }

  &__content {
    padding: 25px;
    border-radius: 40px;
    background-color: $background-primary-color;
    width: 2*$pomodoro-width;
    height: 2*$pomodoro-height;
    position: absolute;
    transition: all 1s ease-in-out;
    transform: scale(0.5);

    &.on-display {
      top: calc(50% - 350px);
      left: calc(50% - 300px);

      transform: scale(1);
      transition: top, left, transform;
      transition-duration: 0.5s;
      transition-delay: 0s, 0s, 0.5s;
      transition-timing-function: ease-in-out;
    }
  }
}

