@import '../../../../../styles/colors';
@import '../../../../../styles/alignment';
@import '../../../../../styles/fonts';
@import '../../../../../styles/components/inputs/buttons';

@mixin configure-button-base($color) {
  @include button-base($color);
  max-width: 96px;
  max-height: 96px;
}

.settings-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: auto 1fr 1fr auto auto;
  grid-template-areas:
      "title"
      "work-duration"
      "rest-duration"
      "timer-title"
      "actions";
  gap: 25px 0;

  &__title {
    @include menu-title;
    font-weight: bold;
    grid-area: title;
    text-transform: capitalize;
    user-select: none;
  }

  &__work-duration {
    grid-area: work-duration;
  }

  &__rest-duration {
    grid-area: rest-duration;
  }

  &__timer-title {
    @include border($foreground-secondary-color);
    @include menu-title;
    padding: 10px 20px;
    background: transparent;
  }

  &__actions {
    grid-area: actions;
    @include flex-center-align;
    justify-content: space-between;

    .save-button {
      @include configure-button-base($accent-color);

      &:disabled {
        background: $disabled-color;
      }
    }

    .cancel-button {
      @include configure-button-base($passive-color);
    }

    .remove-button {
      @include configure-button-base($danger-color);
    }
  }
}




