@import "src/styles/colors";
@import "src/styles/alignment";

.password-wrapper {
  position: relative;

  .toggle-visibility-icon {
    position: absolute;
    right: 24px;
    top: 16px;
    user-select: none;
  }
}