@import 'src/styles/colors';
@import 'src/styles/alignment';
@import 'src/styles/interractions';
@import 'src/styles/components/inputs/buttons';

@mixin control-button-base($color){
  @include button-base($color);
  max-width: 48px;
  max-height: 48px;
}

.pomodoro {
  &__title {
    user-select: none;
  }

  &__timer {
    user-select: none;
  }

  &__actions {
    .accent-button {
      @include control-button-base($accent-color);
    }

    .side-button {
      @include control-button-base($passive-color);
    }
  }
}
